{% extends 'base.html.twig' %}

{% block title %}Редактор знаний{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Выберете раздел </h1>
        <ul class="button-list">
            <li><div><button class="green"><a href="{{ path("coffee_sort_index") }}">Сорта кофе</a> </button></div></li>
            <li><button class="green"><a href="{{ path("feature_index") }}">Признаки</a> </button></li>
            <li><button class="green"><a href="">Признаковое описание сорта</a> </button></li>
            <li><button class="green"><a href="">Проверка целостности</a> </button></li>
        </ul>
    </div>
{% endblock %}