<form method="post" action="{{ path('count_feature_delete', {'id': count_feature.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ count_feature.id) }}">
    <button class="btn">X</button>
</form>
