{{ form_start(form) }}
    {{ form_widget(form, { 'label': 'Название сорта ' }) }}
    <button class="btn btn-lg btn-primary mt-1">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
