{% extends 'base.html.twig' %}

{% block title %}Edit CountFeature{% endblock %}

{% block body %}
    <h3>Редактировать признак: {{ count_feature.name }}</h3>

    {{ include('count_feature/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <a href="{{ path('feature_edit') }}">назад</a>

{% endblock %}
