{% extends 'base.html.twig' %}

{% block title %}Новый признак{% endblock %}

{% block body %}
    <div class="container bg-light">
        <h2>Добавить количественный признак</h2>

        {{ include('count_feature/_form.html.twig') }}

        <a href="{{ path('feature_index') }}">назад</a>
    </div>
{% endblock %}
