<form method="post" action="{{ path('coffee_sort_delete', {'id': coffee_sort.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coffee_sort.id) }}">
    <button class="btn">X</button>
</form>
