{{ form_start(form) }}
    <label for="sort">Название сорта</label>
    {{ form_row(form.name, { 'id': 'sort ' }) }}
    <button class="btn btn-lg btn-primary mt-1">{{ button_label|default('Добавить') }}</button>
{{ form_end(form) }}
