{% extends 'base.html.twig' %}

{% block title %}CoffeeSort index{% endblock %}

{% block body %}
    <style>
        .layer {
            overflow-x: auto; /* Добавляем полосы прокрутки */
            width: calc(100vw - 100px); /* Ширина блока */
            height: 50%; /* Высота блока */
            padding: 5px; /* Поля вокруг текста */
            /*border: solid 1px black; !* Параметры рамки *!*/
        }
    </style>

    <h1>Список сортов</h1>
    {% do form.quanFeatureValues.setRendered() %}
    {% do form.countFeatureValues.setRendered() %}
    <div class="layer">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for coffee_sort in coffee_sorts %}
                <tr>
                    <td>{{ coffee_sort.name }}</td>

                    <td>
                        {{ include('coffee_sort/_delete_form.html.twig') }}
                    </td>

                </tr>

            {% else %}
                <tr>
                    <td colspan="3">Сорта кофе не добавлены</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>Новый сорт</h2>
    {{ include('coffee_sort/_form.html.twig') }}
    <a href="{{ path('knowledge_editor') }}">назад</a>
{% endblock %}
