{% extends 'base.html.twig' %}

{% block title %}QuanFeatureValue index{% endblock %}

{% block body %}
    <h1>QuanFeatureValue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quan_feature_value in quan_feature_values %}
            <tr>
                <td>{{ quan_feature_value.id }}</td>
                <td>
                    <a href="{{ path('quan_feature_value_show', {'id': quan_feature_value.id}) }}">show</a>
                    <a href="{{ path('quan_feature_value_edit', {'id': quan_feature_value.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quan_feature_value_new') }}">Create new</a>
{% endblock %}
