{% extends 'base.html.twig' %}

{% block title %}New QuanFeatureValue{% endblock %}

{% block body %}
    <h1>Create new QuanFeatureValue</h1>

    {{ include('quan_feature_value/_form.html.twig') }}

    <a href="{{ path('quan_feature_value_index') }}">back to list</a>
{% endblock %}
