{% extends 'base.html.twig' %}

{% block title %}Edit MethodOfProcessingCoffee{% endblock %}

{% block body %}
    <h1>Edit MethodOfProcessingCoffee</h1>

    {{ include('method_of_processing_coffee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('method_of_processing_coffee_index') }}">back to list</a>

    {{ include('method_of_processing_coffee/_delete_form.html.twig') }}
{% endblock %}
