{% extends 'base.html.twig' %}

{% block title %}New MethodOfProcessingCoffee{% endblock %}

{% block body %}
    <h1>Create new MethodOfProcessingCoffee</h1>

    {{ include('method_of_processing_coffee/_form.html.twig') }}

    <a href="{{ path('method_of_processing_coffee_index') }}">back to list</a>
{% endblock %}
