{{ form_start(form) }}
    <label class=" mt-1" for="quanFeatur">Новое значение</label>
    {{ form_widget(form, { 'id': 'quanFeature ' }) }}
    <button class="btn btn-lg btn-primary mt-1">{{ button_label|default('Добавить') }}</button>
{{ form_end(form) }}
