{% extends 'base.html.twig' %}

{% block title %}Новый признак{% endblock %}

{% block body %}
    <h2>Добавить качественный признак</h2>

    {{ include('quan_feature/_form.html.twig') }}

    <a href="{{ path('feature_index') }}">назад</a>
{% endblock %}
