{% extends 'base.html.twig' %}

{% block title %}New RegionOfOrigin{% endblock %}

{% block body %}
    <h1>Create new RegionOfOrigin</h1>

    {{ include('region_of_origin/_form.html.twig') }}

    <a href="{{ path('region_of_origin_index') }}">back to list</a>
{% endblock %}
