{% extends 'base.html.twig' %}

{% block title %}Hello UserHomepageController!{% endblock %}

{% block body %}
    <div class="container text-center py-5 bg-light ">
        <h2 class="font-weight-light">Добро пожаловать в систему определения сорта кофе! </h2>
        <a href="{{ path("define_sort_features") }}" class="btn btn-secondary my-2">Определить сорт кофе</a>
    </div>
{% endblock %}
