{% extends 'base.html.twig' %}

{% block title %}Редактор признаков сорта{% endblock %}
{% block stylesheet %}
    {#    <link rel="stylesheet" href="/assets/css/form.css">#}
{% endblock %}

{% block body %}
    <div class="container bg-light">
        <h2>Результат</h2>
        {% for res in result %}
        <a>{{ res }}</a>
        {% endfor %}
        {% for coffeeSort, expl in explain %}
            <p>
                    <li>Сорт "{{ coffeeSort }}" не подошел</li>
                    <p>{{ expl }}</p>
            </p>
        {% endfor %}
{#        <a>Объяснение:</a>#}
{#        <p>Совпадают следующие признаки:</p>#}

    </div>
{% endblock %}